body {
  max-width: 95%;
  margin: 40px auto;
}
button {
  cursor: pointer;
}
body, button, input {
  font: 18px 'source_sans_pro', arial, sans-serif;
}
body > header h1 {
  margin: 0;
}
h2 {
  margin: 60px 0 20px;
}
nav{
  position:absolute;
  top:56px;
  left:2.5%;
  width:95%;
  text-align:center;
}
nav ul{
  padding:0;
  margin:0;
}
nav ul li{
  list-style-type:none;
  display:inline;
  padding:0 10px;
}
.logout {
  position:absolute;
  top:0;
  right:0;
  margin:0;
}
.login label {
  display: inline-block;
  width: 100px;
}
.single-product {
  margin: 60px 0;
}
.single-product form {
  padding: 20px;
  border: 1px solid black;
}
.single-product h1 {
  margin: 0 0 20px;
}
.single-product label b {
  display: inline-block;
  width: 150px;
}
.single-product button[type=submit] {
  margin-left: 150px;
  width: 80px;
  height: 40px;
}
input[type=text], input[type=number], input[type=email], textarea{
  border:1px solid black;
  padding:2px;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
td, th {
  padding: 20px 10px;
  border: 1px solid black;
  text-align:center;
  font-size: .8em;
}
table input, table textarea {
  width: 200px;
}
table img{
  max-width: 300px;
}
table input.mini {
  width: 70px;
}
.edit{
  margin-bottom:10px;
  display:block;
}
.delete{
  background:none;
  border:none;
  color:red;
  padding:2px;
}
form.login{
  border:1px solid black;
  padding:40px;
  margin:0 auto;
}
.table-btn{
  margin-top:10px;
}
a{
  color:black;
}