body {
  max-width: 990px;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
body, button, input {
  font: 18px 'source_sans_pro', arial, sans-serif;
}
body > header {
  overflow: hidden;
  line-height: 80px;
}
body > header h1 {
  float: left;
  margin: 0;
}
body > header p {
  float: right;
  margin: 0;
}
h2 {
  margin: 60px 0 20px;
}
.login label {
  display: inline-block;
  width: 100px;
}
.single-product {
  margin: 60px 0;
}
.single-product form {
  padding: 20px;
  border: 1px solid black;
}
.single-product h1 {
  margin: 0 0 20px;
}
.single-product label b {
  display: inline-block;
  width: 150px;
}
.single-product button[type=submit] {
  margin-left: 150px;
  width: 80px;
  height: 40px;
}
input[type=text], input[type=number], input[type=email], textarea{
  border:1px solid black;
  padding:2px;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
td, th {
  padding: 20px;
  border: 1px solid black;
}
table input, table textarea {
  width: 200px;
}
table input.mini {
  width: 70px;
}
a{
  color:black;
}