html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

gutter = 1px
_serif = 'dejavu_serif', times new roman, serif
_sans = 'source_sans_pro', arial, sans-serif
_mono = 'dejavu_sans_mono', consolas, courier new, monospace
_condensed = 'dejavu_sanscondensed', arial narrow, sans-serif
_medium = 17px
_gray = #222
_text = #000
_margin = 40px

body{
  background #d1ffff;
  background: -moz-linear-gradient(top,  #d1ffff 0%, #d0ed15 26%, #ffff45 52%, #ff8989 75%, #d1ffff 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1ffff), color-stop(26%,#d0ed15), color-stop(52%,#ffff45), color-stop(75%,#ff8989), color-stop(99%,#d1ffff));
  background: -webkit-linear-gradient(top,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
  background: -o-linear-gradient(top,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
  background: -ms-linear-gradient(top,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
  background: linear-gradient(to bottom,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
}
body
  font 20px/26px _sans
  color _text
main
  width 60%
  header
    margin 0 auto
    text-align center
    position relative
    .bbox
      background white
      margin - gutter 0 gutter
      h1
        font-family _mono
        color rgba(140,140,140, 1)
        display block
        padding 50px 0px
        text-transform uppercase
        font-weight bold
        font-size 16px
      .description
        //font-family _serif
        //font-style italic
        font-weight bold
        font-size 18px
        text-transform uppercase
    .btnbox
      position absolute
      left 0
      width 100%
      clearfix()
      button
        width 50%
        float left
        padding 20px 5px
        background white
        border none
        font-size _medium
        color _text
        &.copy
          position relative
          left - gutter
          background white url(../i/copy-icon.svg) no-repeat 85px  center
          background-size 32px 
        &.about
          background white url(../i/about-icon.svg) no-repeat 85px  center
          background-size 22px 

// Character 

.theb
  font-family _condensed
  border solid 0.06em black
  font-size 120px
  font-weight normal
  color black
  display block
  width 1.2em
  height 1.2em
  margin 0 auto
  padding 0.06em 0 0 0.05em
  border-radius 1.15em
  margin-bottom 30px
  line-height 1em
  &::selection
    background rgba(255,255,0, 0.8)
    color #222
    border 1px solid black
  &::-moz-selection
    background rgba(255,255,0, 0.8)
    color #222
    border 1px solid black

// Content sections
          
.box
  background white
  .section-inner
    margin 1px auto 0 auto
    padding _margin
    max-width 650px
    p
      margin-bottom _margin
      &.highlight
        position relative
        line-height 1.4em
        color #818181 
        display block
        border 1px solid #ccc
        padding 20px        
        font-size 23px
        font-weight bold
        text-indent 0px
        font-style italic
        a
          color inherit
          border-bottom 1px solid          
      a
        color black
        border none
        &:hover
          border-bottom 1px solid
    ul
      margin-bottom _margin
      columns 2
      -moz-columns 2
      -webkit-columns 2
      li
        margin-bottom 5px
    figure
      margin-bottom _margin
      img
        display block
        margin 20px auto
      figcaption
        font-size 13px
        text-align center
        color _gray
        display block
        line-height 1.2em
    .c2
      float left
      width 50%
  h1
    font-family _sans
    font-size 35px
    margin 60px 0
    letter-spacing 0.03em

// Navigation

nav
  position fixed
  top 0
  right 0
  width 40%
  float left
  clear both
  margin 0 -1px 0 0
  font-family _condensed
  font-size _medium
  clearfix()
  li
    padding-left 100px
    margin-bottom 1px
    background white
    a
      border none

/* Misc */

a
  color _text
  text-decoration none
  border-bottom 1px solid
clearfix()
  &:after
    content ''
    display block
    clear both
crispy()
  image-rendering optimizeSpeed
  image-rendering -moz-crisp-edges
  image-rendering -o-crisp-edges
  image-rendering -webkit-optimize-contrast
  image-rendering optimize-contrast

