html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
transition(properties, durations, timings)
    -moz-transition-property properties
    -o-transition-property properties
    -webkit-transition-property properties
    -ms-transition-property properties
    transition-property properties
    -moz-transition-duration durations
    -o-transition-duration durations
    -webkit-transition-duration durations
    -ms-transition-duration durations
    transition-duration durations
    -moz-transition-timing-function timings
    -o-transition-timing-function timings
    -webkit-transition-timing-function timings
    -ms-transition-timing-function timings
    transition-timing-function timings
    
gutter = 1px
_serif = 'dejavu_serif', times new roman, serif
_sans = 'source_sans_pro', arial, sans-serif
_mono = 'dejavu_sans_mono', consolas, courier new, monospace
_condensed = 'dejavu_sans_condensed', arial narrow, sans-serif
_medium = 17px
_gray = #222222
_lightgray = #818181
_text = #000000
_margin = 40px

body{
  background #d1ffff;
  background: -moz-linear-gradient(top,  #d1ffff 0%, #d0ed15 26%, #ffff45 52%, #ff8989 75%, #d1ffff 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1ffff), color-stop(26%,#d0ed15), color-stop(52%,#ffff45), color-stop(75%,#ff8989), color-stop(99%,#d1ffff));
  background: -webkit-linear-gradient(top,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
  background: -o-linear-gradient(top,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
  background: -ms-linear-gradient(top,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
  background: linear-gradient(to bottom,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
}
body
  font 20px/26px _sans
  color _text
main
  width 60%
  header
    margin 0 auto
    text-align center
    position relative
    .bbox
      background white
      margin - gutter 0 gutter
      min-height 80vh
      padding-top 15vh
      h1
        font-family _mono
        color rgba(140,140,140, 1)
        display block
        padding 50px 0px
        text-transform uppercase
        font-weight bold
        font-size 16px
      .description
        //font-family _serif
        //font-style italic
        font-weight bold
        font-size 18px
        text-transform uppercase
    .btnbox
      position absolute
      left 0
      width 100%
      clearfix()
      button
        width 50%
        float left
        height 20vh
        padding 20px 5px
        background white
        border none
        font-size _medium
        color _text
        &.copy
          position relative
          left - gutter
          background white url(../i/copy-icon.svg) no-repeat 85px  center
          background-size 32px 
        &.about
          background white url(../i/about-icon.svg) no-repeat 85px  center
          background-size 22px 

// Character 

.theb
  font-family _condensed
  border solid 0.06em black
  font-size 120px
  font-weight normal
  color black
  display block
  width 1.2em
  height 1.2em
  margin 0 auto
  padding 0.06em 0 0 0.05em
  border-radius 1.15em
  margin-bottom 30px
  line-height 1em
  &::selection
    background rgba(255,255,0, 0.8)
    color #222
    border 1px solid black
  &::-moz-selection
    background rgba(255,255,0, 0.8)
    color #222
    border 1px solid black

// Content sections
          
.box
  background white
  .section-inner
    margin 1px auto 0 auto
    padding 10vh _margin
    min-height 100vh
    max-width 650px
    overflow hidden
    p
      margin-bottom _margin
      &.highlight
        position relative
        line-height 1.4em
        color _lightgray 
        display block
        border 1px solid _lightgray
        padding 20px        
        font-size 23px
        font-weight bold
        text-indent 0px
        font-style italic
        a
          color inherit
          border-bottom 1px solid 
    ul
      margin-bottom _margin
      columns 2
      -moz-columns 2
      -webkit-columns 2
      li
        margin-bottom 5px
    figure
      margin-bottom _margin
      img
        display block
        margin 20px auto
      figcaption
        font-size 13px
        text-align center
        color _gray
        display block
        line-height 1.2em
    dl
      margin-bottom _margin      
      dt
        margin-bottom 5px
        font-weight bold
        &:before
          content "● "
          padding 0 5px 0 0
    .column-group
      clear both
    .c2
      float left
      width 50%
    .c3
      float left
      width 33.3%
      img
        width 170px
        height auto
  h1
    font-family _sans
    font-size 2em
    margin 0 0 60px 0
    letter-spacing 0.03em
    line-height 1em
  h2
    font-weight bold
    margin-bottom 5px
  code
    font-family _mono
    font-size .8em
    color _lightgray
    border 1px solid #eee
    padding 0 2px

.button, .coinbase-button
  transition(background-color, 0.1s, ease-out)
  width 100%
  display block
  padding 30px 20px
  background #ebebeb
  text-align center
  margin 0 auto
  font-size 25px
  line-height 28px
  border-radius 60px
  position relative
  border 0
  &:hover
    background #d6e6e6
  &:active
    background #b7d1d1

// Navigation

nav
  position fixed
  top 0
  right 0
  width 40%
  float left
  margin 0 -1px 0 0
  font-family _condensed
  font-size _medium
  clearfix()
  li
    margin-bottom 1px
    background white
    font-size 1.2em
    a
      padding-left 100px
      height 16.6vh
      padding-top 6.5vh
      witdh 100%
      display block
      border none

// Exceptions

#goodies
  .smallimg
    width 130px
    height auto
    margin 40px auto

ul.fontlist
  background #ededed
  padding 10px
  font-size medium

// Misc

a
  color _text
  text-decoration none
  border-bottom 1px solid
  &:hover
    border-color lightgray
  &:active
    background hsl(0, 0%, 97.5%)
    border-color black    
    
clearfix()
  &:after
    content ''
    display block
    clear both

:-moz-any-link:focus
  outline none


// Responsive

@media only screen and (max-width: 1000px)
  main
    width 100%
  nav
    z-index 3
    left 0
    width 100%
    li
      font-size .8em
      line-height 1.3em
      float left
      outline 1px solid _gray
      text-align center
      a
        width 16.65vw
        height 60px
        padding 10px 0 0 0

@media only screen and (max-width: 599px)
  body
    font-size 15px
    line-height 22px
  nav li
    font-size .7em
    a
      width 50vw
      height 35px
  .box
    .section-inner
      padding 120px 10px
      .c3
        clear both
        width 100%
      img
        width 100%
        height auto

.copied
    opacity 0
    font-size 10px
    color red
    position absolute
    -webkit-animation myanim 1s
    -moz-animation myanim 1s
    -o-animation myanim 1s
    animation myanim 1s
    left 92px
    top -20px
    
@-webkit-keyframes myanim {
  0%   { margin-top: 0; opacity:1;}
  90% { margin-top: -10px; }
  100% { opacity: 0; }
}
@-moz-keyframes myanim {
  0%   { margin-top: 0; opacity:1;}
  90% { margin-top: -10px; }
  100% { opacity: 0; }
}
@-o-keyframes myanim {
  0%   { margin-top: 0; opacity:1;}
  90% { margin-top: -10px; }
  100% { opacity: 0; }
}
@keyframes myanim {
  0%   { margin-top: 0; opacity:1;}
  90% { margin-top: -10px; }
  100% { opacity: 0; }
}