html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
transition(properties, durations, timings)
    -moz-transition-property properties
    -o-transition-property properties
    -webkit-transition-property properties
    -ms-transition-property properties
    transition-property properties
    -moz-transition-duration durations
    -o-transition-duration durations
    -webkit-transition-duration durations
    -ms-transition-duration durations
    transition-duration durations
    -moz-transition-timing-function timings
    -o-transition-timing-function timings
    -webkit-transition-timing-function timings
    -ms-transition-timing-function timings
    transition-timing-function timings
    
gutter = 1px
_serif = 'dejavu_serif', times new roman, serif
_sans = 'source_sans_pro', arial, sans-serif
_mono = 'dejavu_sans_mono', consolas, courier new, monospace
_condensed = 'dejavu_sans_condensed', arial narrow, sans-serif
_medium = 17px
_gray = #222222
_lightgray = #818181
_palegray = #eeeeee
_text = #000000
_margin = 40px

body{
  background #d1ffff;
  background: -moz-linear-gradient(top,  #d1ffff 0%, #d0ed15 26%, #ffff45 52%, #ff8989 75%, #d1ffff 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1ffff), color-stop(26%,#d0ed15), color-stop(52%,#ffff45), color-stop(75%,#ff8989), color-stop(99%,#d1ffff));
  background: -webkit-linear-gradient(top,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
  background: -o-linear-gradient(top,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
  background: -ms-linear-gradient(top,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
  background: linear-gradient(to bottom,  #d1ffff 0%,#d0ed15 26%,#ffff45 52%,#ff8989 75%,#d1ffff 99%);
}
body
  font 20px/26px _sans
  color _text
main
  width 60%
  header
    margin 0 auto
    text-align center
    position relative
    height 100vh
    .bbox
      transition(all, .1s, ease-out)
      background white
      margin - gutter 0 gutter
      height 100vh
      padding-top 20vh
      &.min
        opacity 0
        height 60px
        position fixed
        background none
        padding-top 0px
        z-index 9
        top 7%
        left 3%
        .theb
          font-size 35px
          margin-bottom 0
        &.visible
          opacity 1
      h1
        font-family _mono
        color rgba(140,140,140, 1)
        display block
        padding 50px 0px
        text-transform uppercase
        font-weight bold
        font-size 16px
        position relative
        .copied
          opacity 0
          font-size 15px
          color #84E56B
          font-family _sans
          position absolute
          -webkit-animation copy 2s
          -moz-animation copy 2s
          -o-animation copy 2s
          animation copy 2s
          left 0
          text-align center
          width 100%
          top 0px
      .description
        font-weight bold
        font-size 18px
        text-transform uppercase

// Character 

.theb
  transition(font, 0.1s, ease-out)
  font-family _condensed
  border solid 0.06em black
  font-size 120px
  font-weight normal
  color black
  display block
  background white
  width 1.2em
  height 1.2em
  margin 0 auto
  padding 0.06em 0 0 0.05em
  border-radius 1.15em
  margin-bottom 30px
  line-height 1em
  &::selection
    background rgba(255,255,0, 0.8)
    color #222
    border 1px solid black
  &::-moz-selection
    background rgba(255,255,0, 0.8)
    color #222
    border 1px solid black

// Content sections
          
.box
  background white
  .section-inner
    margin 1px auto 0 auto
    padding 10vh _margin
    min-height 100vh
    max-width 650px
    overflow hidden
    p
      margin-bottom _margin
      &.highlight
        position relative
        line-height 1.4em
        color _lightgray 
        display block
        border 1px solid _lightgray
        padding 20px        
        font-size 23px
        font-weight bold
        text-indent 0px
        font-style italic
        a
          color inherit
          border-bottom 1px solid 
    ul
      margin-bottom _margin
      columns 2
      -moz-columns 2
      -webkit-columns 2
      li
        margin-bottom 5px
    figure
      margin-bottom _margin
      img
        display block
        margin 20px auto
      figcaption
        font-size 13px
        text-align center
        color _gray
        display block
        line-height 1.2em
    dl
      margin-bottom _margin      
      dt
        margin-bottom 5px
        font-weight bold
        &:before
          content "● "
          padding 0 5px 0 0
    .column-group
      clear both
      overflow hidden
    .c2
      float left
      width 50%
    .c3
      float left
      width 33.3%
      img
        width 170px
        height auto
    .c4
      img
        width 100%
        padding 0 20px
        height auto
  h1
    font-family _sans
    font-size 2em
    margin 0 0 60px 0
    letter-spacing 0.03em
    line-height 1em
  h2
    font-weight bold
    margin-bottom 10px
  code
    font-family _mono
    font-size .8em
    color _lightgray
    border 1px solid _palegray
    padding 0 2px

.button, .coinbase-button
  width 100%
  display block
  padding 30px 20px
  text-align center
  margin 0 auto
  font-size 1.6em
  line-height 1.2em
  position relative
  border 1px solid
  background white
  -webkit-animation btns 80s infinite 
  -moz-animation btns 80s infinite
  -o-animation btns 80s infinite
  animation btns 80s infinite
  &:hover
    -webkit-animation none
    -moz-animation none
    -o-animation none
    animation none
    background none
  &:active
    color _text

// Navigation

nav
  position fixed
  top 0
  right 0
  width 40%
  float left
  margin 0 -1px 0 0
  font-family _condensed
  font-size _medium
  clearfix()
  li
    margin-bottom 1px
    background white
    font-size 1.2em
    a
      padding-left 100px
      height 16.6vh
      padding-top 6.5vh
      witdh 100%
      display block
      border none

// Exceptions

#download
  .smallimg
    width 130px
    height auto
    margin 40px auto
.support-box
  margin-top _margin *2

ul.fontlist
  padding 10px
  font-size medium

.pack, #makeDonation, .fontlist
  border 1px solid _palegray
  margin-bottom 40px
#makeDonation
  padding _margin *.5
  label
    display block
  ul
    -moz-columns 1
    -moz-column-count 1
    -moz-column-width 1
#customize
  .column-group
    -moz-column-count 4
    -moz-column-gap 5px
    -webkit-column-count 4
    -webkit-column-gap 5px
    column-count 4
    column-gap 5px
    margin-bottom 40px
    figure
      border 1px solid _palegray
      display block
      padding-bottom 20px
      margin-bottom 5px
.edit
  border 1px solid _palegray
  padding 0 3px
  color _gray
.box .section-inner .smallp
  padding-bottom 7px
  margin-bottom 7px
  border-bottom 1px solid _palegray

// Misc

.mnav
  position fixed
  top 0
  left 20%
  width 80%
  padding-top 7px
  background white
  border 0
  z-index 3
  border-bottom 1px solid black
  option
    padding 5px
a
  color _text
  text-decoration none
  border-bottom 1px solid
  &:hover
  border-color lightgray
  &:active
    background hsl(0, 0%, 97.5%)
    border-color black

input[type="email"],input[type="number"], select
  font-size 15px
  border 1px solid _palegray
  color _gray

clearfix()
  &:after
    content ''
    display block
    clear both

:-moz-any-link:focus
  outline none


// Responsive

@media only screen and (max-width: 900px)
  main
    width 70%
  nav
    width 30%
    li a
      padding-left 10px

@media only screen and (max-width: 599px)
  body
    font-size 15px
    line-height 22px
  main
    width 100%
    header .bbox.min
      top 2px
      left 2%
  nav li
    font-size .7em
    a
      width 50vw
      height 35px
  .box
    .section-inner
      padding 70px 10px 50px 10px
      .c3
        clear both
        width 100%
        img,.smallimg
          width 100% !important
          max-width 300px
          height auto
  #customize
    .column-group
      -moz-column-count 2
      -moz-column-gap 5px
      -webkit-column-count 2
      -webkit-column-gap 5px
      column-count 2
      column-gap 5px
      margin-bottom 40px
      figure
        border 1px solid _palegray
        display block
        padding-bottom 20px
        margin-bottom 20px
::selection {background:#dedede;}
::-moz-selection {background:#dedede;}

// Copy visual feedback
@-webkit-keyframes copy {
  0%   { margin-top: 0; opacity:1;}
  90% { margin-top: -10px; }
  100% { opacity: 0; }
}
@-moz-keyframes copy {
  0%   { margin-top: 0; opacity:1;}
  90% { margin-top: -10px; }
  100% { opacity: 0; }
}
@-o-keyframes copy {
  0%   { margin-top: 0; opacity:1;}
  90% { margin-top: -10px; }
  100% { opacity: 0; }
}
@keyframes copy {
  0%   { margin-top: 0; opacity:1;}
  90% { margin-top: -10px; }
  100% { opacity: 0; }
}

// Buttuns
@-webkit-keyframes btns {
    0% { color: rgb(255, 0, 59); }
    33% { color: rgb(23, 150, 180); }
    66% { color: rgb(18, 217, 56); }
    100% { color: rgb(255, 0, 59); }
}
@-moz-keyframes btns {
    0% { color: rgb(255, 0, 59); }
    33% { color: rgb(23, 150, 180); }
    66% { color: rgb(18, 217, 56); }
    100% { color: rgb(255, 0, 59); }
}
@-o-keyframes btns {
    0% { color: rgb(255, 0, 59); }
    33% { color: rgb(23, 150, 180); }
    66% { color: rgb(18, 217, 56); }
    100% { color: rgb(255, 0, 59); }
}
@keyframes btns {
    0% { color: rgb(255, 0, 59); }
    33% { color: rgb(23, 150, 180); }
    66% { color: rgb(18, 217, 56); }
    100% { color: rgb(255, 0, 59); }
}

