.shop-items
  table
    width 100%
    img
      display block
      margin 0 auto
  td, th
    vertical-align middle
    text-align center
  .submit
    text-align right
    button
      font-size 24px
      cursor pointer
