@import 'reset.css'
@import 'nib/vendor'

body
  font 18px 'source_sans_pro', arial, sans-serif
  animation rainbow 20s infinite
main, header
  max-width 1200px
  width 100%
  margin 0 auto
  border-left 1px solid
  border-right 1px solid
header, footer
  font-size 12px
  padding 2px 5px
  letter-spacing 1px
  a
    color inherit
    text-decoration none
    border-bottom 1px solid
main
  margin 0 auto 0 auto  
  padding 40px 5%
  border-bottom 1px solid
  overflow hidden
  p
    margin-bottom .7em
  h1
    font-size 2em
    margin 0 0 60px 0
    letter-spacing 0.03em
    line-height 1em
    font-weight bold
  h2
    font-weight bold
    margin-bottom 10px
  code
    font-family monospace
    font-size 1em
    border 1px solid
    padding 2px
    margin 20px 0 0 0
footer
  max-width 1200px
  width 100%
  margin 0 auto 40px auto
  padding-left 0
.errors
  margin-bottom 20px

.shop-items
  table
    width 100%
    border-spacing 0
    border-collapse collapse
    margin 40px 0
  .slide
    margin 0 auto
    display inline-block
  img
    display block
    max-width 300px
    &.cycle-next
      cursor e-resize
  td, th
    vertical-align middle
    text-align center
    border 1px solid
    padding 20px
    line-height 1.3em
  tr
    &.no-stock
      position relative
      display block
      td.quantity:before
        content "×"
        font-size 4em
      input.number
        display none
      &:before
        content "OUT OF STOCK!"
        font-size 4em
        position absolute
        top 120px
        left 20px
        transform rotate(-10deg)
  .submit
    text-align right
  .price
    min-width 200px
  input.number
    transition(all, 0.2s, ease-out)
    text-align center
    font-size 1em
  button
    width 39%
  small
    font-size .7em
  b
    font-weight bold

.right
  width 30%
  float right

.left
  padding-right 20%
  width 70%
  float left

.order
  li, .total
    border 1px solid
    padding 40px
    margin-bottom 40px
  img
    width 100%
    max-width 300px
  
// Form

input[type=text], input[type=number], input[type=email], textarea
  color inherit
  border 1px solid
  padding 4px
  width 100%
  font-size 1em
label
  margin-bottom 40px
  display block
  br
    margin-bottom .2em
button
  font-size 24px
  cursor pointer
  background white
  color inherit
  border 6px solid
  padding 30px 10px
  width 100%
  &:hover, &:focus
    text-decoration underline

.r1
  transform rotate(-10deg) scale(2)
.r2
  transform rotate(10deg) scale(2)

::selection {background:#eee;}
::-moz-selection {background:#eee;}

// Borders animation

@-webkit-keyframes rainbow {
    0% { color: rgb(255, 0, 59); }
    33% { color: rgb(23, 150, 180); }
    66% { color: rgb(18, 217, 56); }
    100% { color: rgb(255, 0, 59); }
}
@-moz-keyframes rainbow {
    0% { color: rgb(255, 0, 59); }
    33% { color: rgb(23, 150, 180); }
    66% { color: rgb(18, 217, 56); }
    100% { color: rgb(255, 0, 59); }
}
@-o-keyframes rainbow {
    0% { color: rgb(255, 0, 59); }
    33% { color: rgb(23, 150, 180); }
    66% { color: rgb(18, 217, 56); }
    100% { color: rgb(255, 0, 59); }
}
@keyframes rainbow {
    0% { color: rgb(255, 0, 59); }
    33% { color: rgb(23, 150, 180); }
    66% { color: rgb(18, 217, 56); }
    100% { color: rgb(255, 0, 59); }
}
